<a href="https://colab.research.google.com/github/KeerthiErnapu/DMDW/blob/main/Experiment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.metrics import jaccard_score
from sklearn.metrics.pairwise import cosine_similarity,euclidean_distances,manhattan_distances
from scipy.stats import pearsonr

In [5]:
data=pd.read_csv('/content/students_placement_data.csv')

In [7]:
data.isnull().sum()

Roll No                               0
Gender                                0
Section                               0
SSC Percentage                        1
inter_Diploma_percentage              0
B.Tech_percentage                     0
Backlogs                              0
registered_for_ Placement_Training    1
placement status                      0
dtype: int64

In [6]:
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [8]:
data.dropna(inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 0 to 116
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Roll No                             115 non-null    int64
 1   Gender                              115 non-null    object
 2   Section                             115 non-null    object
 3   SSC Percentage                      115 non-null    float64
 4   inter_Diploma_percentage            115 non-null    float64
 5   B.Tech_percentage                   115 non-null    float64
 6   Backlogs                            115 non-null    int64
 7   registered_for_ Placement_Training  115 non-null    object
 8   placement status                    115 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 9.0+ KB

In [10]:
x=data.drop(columns=['placement status','Gender','Section'])

In [11]:
print(x.head())

   Roll No  SSC Percentage  inter_Diploma_percentage  B.Tech_percentage  \
0        1           87.30                      65.3              40.00
1        2           89.00                      92.4              71.45
2        3           67.00                      68.0              45.26
3        4           71.00                      70.4              36.47
5        6           81.26                      68.0              62.20

   Backlogs registered_for_ Placement_Training
0        18                                 NO
1         0                                yes
2        13                                yes
3        17                                yes
5         6                                yes

In [13]:
a=np.array(x['SSC Percentage']).reshape(1,-1)
b=np.array(x['B.Tech_percentage']).reshape(1,-1)

In [16]:
c_score=cosine_similarity(a,b)
print(c_score)

[[0.98711883]]

In [17]:
e_dist=euclidean_distances(a,b)
print(e_dist)

[[217.53331906]]

In [18]:
m_dist=manhattan_distances(a,b)
print(m_dist)

[[2005.73]]

In [19]:
p=pearsonr(x['SSC Percentage'],x['B.Tech_percentage'])
print(p)

PearsonRResult(statistic=0.4711738294687735, pvalue=1.0692746721963804e-07)

In [46]:
a1=[data.iloc[3]['placement status']]
b1=[data.iloc[5]['placement status']]
j=jaccard_score(a1,b1,zero_division=1)
print(j)

1.0